<div class="edit-bookmark-wrapper">

    <p *ngIf="!bookmark">Bookmark not found</p>
    
    <ng-container *ngIf="bookmark">

        <h2 class="is-bold">{{ bookmark.name }}</h2>

        <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
            <mat-form-field>
                <mat-label>Name</mat-label> 
                <input matInput [ngModel]="bookmark.name" #textField="ngModel" name="name" type="text"
                    placeholder="e.g. Wikipedia">
            </mat-form-field>

            <mat-form-field>
                <mat-label>URL</mat-label>
                <input matInput [ngModel]="bookmark.url" #textField="ngModel" name="url" type="url"
                    placeholder="e.g. https://wikipedia.com" required>
                </mat-form-field>

            <div class="btns-container">
                <a routerLink="../" mat-button="btn" color="warn"> Cancel</a>
                <button mat-raised-button color="primary" (click)="delete()">Delete</button>
                <button mat-raised-button color="accent">Save</button>
            </div>
        </form>
    </ng-container>
</div>