<div class="add-todo-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">New Todo</h2>
    
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <mat-form-field>
            <textarea matInput ngModel #textField="ngModel"  placeholder="Enter todo text..."
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              name="text" type="text" required minlength="5"></textarea>

            <ng-container *ngIf="textField.invalid">
              <p *ngIf="textField.errors?.['required']">Please enter a text</p>
              <p *ngIf="textField.errors?.['minlength']">Text must be at least 5 characters</p>
            </ng-container>

        </mat-form-field>

        <div class="btns-container">
            <a routerLink="../" mat-button="btn" color="warn"> Cancel</a>
            <button mat-raised-button color="primary">Create Todo</button>
        </div>
    </form>
</div>