.add-bookmark-wrapper {
    padding: 50px; /* Increase the padding to create more space */
    border-radius: 5px;
    height: 100%;
    overflow: auto;
  
    display: flex;
    justify-content: center;
    
    
}

  
.btns-container {
    display: flex; /* Create a flex container for the buttons */
    justify-content: space-between; /* Distribute the buttons horizontally */
}