<div class="edit-todo-wrapper container has-blurred-white-bg">
    <h2 class="is-bold">Edit Todo</h2>
    
    <p *ngIf="!todo">Todo not found</p>
    
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" *ngIf="todo">
        <mat-form-field>
            <textarea matInput [ngModel]="todo.text" placeholder="Enter todo text..."
              cdkTextareaAutosize
              #textField="ngModel"
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              name="content" type="text" required minlength="5"></textarea>

            <ng-container *ngIf="textField.invalid">
              <p *ngIf="textField.errors?.['required']">Please enter a text</p>
              <p *ngIf="textField.errors?.['minlength']">Text must be at least 5 characters</p>
            </ng-container>

        </mat-form-field>



        <div class="btns-container">
            <a routerLink="../" mat-button="btn" color="accent"> Cancel</a>

            <button mat-raised-button color="primary">Save</button>
        </div>
    </form>
    
</div>